<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Client.Properties.Settings.Ebda3ChatConnectionString"
            connectionString="Data Source=DESKTOP-FN490OU\SQL2008R2;Initial Catalog=Ebda3Chat;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISendChatService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536" />
                <binding name="NetTcpBinding_IGetConnString" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536" />
                <binding name="NetTcpBinding_ISendChatService1">
                    <security mode="None">
                        <transport sslProtocols="Tls, Tls11, Tls12" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1234/Chat/ChatService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISendChatService"
                contract="ChatService.ISendChatService" name="NetTcpBinding_ISendChatService" />
            <endpoint address="net.tcp://localhost:1234/Chat/IGetConnString"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGetConnString"
                contract="ChatService.IGetConnString" name="NetTcpBinding_IGetConnString" />
            <endpoint address="net.tcp://localhost:1234/Chat/ChatService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISendChatService1"
                contract="ServiceReference1.ISendChatService" name="NetTcpBinding_ISendChatService1" />
        </client>
    </system.serviceModel>
    <userSettings>
        <Client.Properties.Settings>
            <setting name="FontSize" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SearchType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifationState" serializeAs="String">
                <value>True</value>
            </setting>
        </Client.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
