<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EBS.FixedAssets.My.MySettings.fixedAssetNew2019ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=fixedAssetNew2019;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.FixedAssets.My.MySettings.HotelEmpty3032019ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=HotelEmpty3032019;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.FixedAssets.My.MySettings.HotelPlusAssetsConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=HotelPlusAssets;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.FixedAssets.My.MySettings.personal_2020_6_25ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=personal_2020_6_25;User ID=ebs" providerName="System.Data.SqlClient"/>
        <add name="EBS.FixedAssets.My.MySettings.HotelPlusAssets2020ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=HotelPlusAssets2020;User ID=ebs" providerName="System.Data.SqlClient"/>
        <add name="EBS.FixedAssets.My.MySettings.HotelPlusAssetsAllConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=HotelPlusAssetsAll;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.FixedAssets.My.MySettings.MaadAssetsMultableCostConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=MaadAssetsMultableCost;User ID=ebs" providerName="System.Data.SqlClient"/>
        <add name="EBS.FixedAssets.My.MySettings.asset31122020ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=asset31122020;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.FixedAssets.My.MySettings.FixedAssetOld3ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=FixedAssetOld3;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.FixedAssets.My.MySettings.asset212020_1_11_2021ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=asset212020-1-11-2021;User ID=ebs" providerName="System.Data.SqlClient"/>
        <add name="EBS.FixedAssets.My.MySettings.alsol4012022ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=alsol4012022;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
