<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EBS.Accounts.My.MySettings.ta15_5_2016ConnectionString"
            connectionString="Data Source=SERVER2\SQL2008R2;Initial Catalog=ta15-5-2016;User ID=Ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Accounts.My.MySettings.Tawfiq_05_06_2016ConnectionString"
            connectionString="Data Source=SERVER2\SQL2008R2;Initial Catalog=Tawfiq_05-06-2016;User ID=Ebs"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Accounts.My.MySettings.Gady_DXProV3_04_01_2018ConnectionString"
            connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=Gady_DXProV3_04-01-2018;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Accounts.My.MySettings.XPAlwargiConnectionString"
            connectionString="Data Source=WIN-6O422R6L0L2\SQL2008R2;Initial Catalog=XPAlwargi;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Accounts.My.MySettings.Xpro_Alamtyaz20_7_2020ConnectionString"
            connectionString="Data Source=WIN-6O422R6L0L2\SQL2008R2;Initial Catalog=Xpro_Alamtyaz20-7-2020;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Accounts.My.MySettings.Backup__inteka2021__25ConnectionString"
            connectionString="Data Source=.\sql2008r2;Initial Catalog=Backup-(inteka2021)-25;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
