<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EBS.RestaurantsSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EBS.RestaurantsSystem.My.MySettings.New_DXProV3_VAT_RST_19ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=New_DXProV3_VAT_RST_19;User ID=ebs" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <EBS.RestaurantsSystem.My.MySettings>
            <setting name="ItemsSplit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InviceSplit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChBShowInvoiceInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChBShowMethods" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChBShowPreiviousInvoice" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="chkPrintCopyForClient" serializeAs="String">
                <value>True</value>
            </setting>
        </EBS.RestaurantsSystem.My.MySettings>
    </userSettings>
</configuration>
