<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EBS.Purchasing.My.MySettings.IBSTraderNetConnectionString"
            connectionString="Data Source=.;Initial Catalog=IBSTraderNetDataSet;User ID=sa;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings._10_12_2012ConnectionString"
            connectionString="Data Source=WIN-495MMITXMZQ;Initial Catalog=10-12-2012;Persist Security Info=True;User ID=sa;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.TBConnectionString" connectionString="Data Source=.\sql2008R2;Initial Catalog=TB;Persist Security Info=True;User ID=sa;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.TB29_07_2013ConnectionString"
            connectionString="Data Source=WIN-GJB8GKG0WNS\SQL2008R2;Initial Catalog=TB29-07-2013;Persist Security Info=True;User ID=sa;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.Taibah_V3ConnectionString"
            connectionString="Data Source=SERVER2\SQL2008R2;Initial Catalog=Taibah_V3;Persist Security Info=True;User ID=Ebs"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.ta25_07_2016ConnectionString"
            connectionString="Data Source=SERVER2\SQL2008R2;Initial Catalog=ta25-07-2016;User ID=Ebs"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.GC_2017_24_01_2017ConnectionString"
            connectionString="Data Source=EBS-SERVER\SQL2012;Initial Catalog=GC_2017_24-01-2017;User ID=Ebs"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.tawfiq2017ConnectionString"
            connectionString="Data Source=EBS-SERVER\SQL2008R2;Initial Catalog=tawfiq2017;User ID=Ebs"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.Ta2017_03_25ConnectionString"
            connectionString="Data Source=EBS-SERVER\SQL2008R2;Initial Catalog=Ta2017_03_25;User ID=Ebs"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.Al_Sabri_DXProV4_2019_07_09ConnectionString"
            connectionString="Data Source=WIN-6O422R6L0L2\SQL2008R2;Initial Catalog=Al-Sabri_DXProV4_2019-07-09;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.XproSyunMarket19_6_2020ConnectionString"
            connectionString="Data Source=WIN-6O422R6L0L2\SQL2008R2;Initial Catalog=XproSyunMarket19-6-2020;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.New_DXProV4Khaleel_2020ConnectionString"
            connectionString="Data Source=WIN-6O422R6L0L2\SQL2008R2;Initial Catalog=New_DXProV4Khaleel-2020;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.ibsTraderNetConnectionString2"
            connectionString="Data Source=WIN-6O422R6L0L2\SQL2008R2;Initial Catalog=Xpro_AhmedAli_2020-12-02;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.xpro_benkmis23_5_20211ConnectionString"
            connectionString="Data Source=WIN-6O422R6L0L2\SQL2008R2;Initial Catalog=xpro_benkmis23-5-20211;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Purchasing.My.MySettings.Backup__inteka2021__25ConnectionString"
            connectionString="Data Source=.\sql2008r2;Initial Catalog=Backup-(inteka2021)-25;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
