<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EBS.Hotels.My.MySettings.HotelDBConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=HotelDB;User ID=ebs" providerName="System.Data.SqlClient"/>
        <add name="EBS.Hotels.My.MySettings.MaadHotelConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=MaadHotel;User ID=ebs" providerName="System.Data.SqlClient"/>
        <add name="EBS.Hotels.My.MySettings.HotelPlusAssetsConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=HotelPlusAssets;User ID=ebs" providerName="System.Data.SqlClient"/>
        <add name="EBS.Hotels.My.MySettings.الفيصل_الفارقConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=&quot;الفيصل الفارق&quot;;User ID=ebs" providerName="System.Data.SqlClient"/>
        <add name="EBS.Hotels.My.MySettings._1708202ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=1708202;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.Hotels.My.MySettings.الرحاب_16_10_2023_2023_10_23_15ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=&quot;الرحاب_16-10-2023_2023-10-23 15&quot;;User ID=ebs" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
 
</configuration>
