<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EBS.Inventory.My.MySettings._10_12_2012ConnectionString" connectionString="Data Source=WIN-495MMITXMZQ;Initial Catalog=10-12-2012;Persist Security Info=True;User ID=sa;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.Inventory.My.MySettings.TB13_08_2013ConnectionString" connectionString="Data Source=.\sql2008R2;Initial Catalog=TB13-08-2013;Persist Security Info=True;User ID=sa;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.Inventory.My.MySettings.Shabibi_DotXProV3_28_12_2017ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=Shabibi_DotXProV3_28-12-2017;Persist Security Info=True;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.Inventory.My.MySettings.Al_Hamdi_2019_11_12ConnectionString" connectionString="Data Source=WIN-6O422R6L0L2\SQL2008R2;Initial Catalog=Al-Hamdi_2019-11-12;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
</configuration>
