<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EBS.CarSystem.My.MySettings.fixedAssetNew2019ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=fixedAssetNew2019;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.CarSystem.My.MySettings.CarsystemFinalConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=CarsystemFinal;Persist Security Info=True;User ID=Ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.CarSystem.My.MySettings.CarsystemEmpty_2020ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=CarsystemEmpty_2020;Persist Security Info=True;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.CarSystem.My.MySettings.cars_2020_2020_11_28_18ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=&quot;cars_2020_2020-11-28 18&quot;;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.CarSystem.My.MySettings.cars_2020_2020_11_28_18ConnectionString1" connectionString="Data Source=.\SQL2008R2;Initial Catalog=&quot;cars_2020_2020-11-28 18&quot;;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.CarSystem.My.MySettings.Car_amrinXproConnectionString" connectionString="Data Source=WIN-CVRG28QPJF2\SQL2008R2;Initial Catalog=Car_amrinXpro;Persist Security Info=True;User ID=EBS;Password=forsan" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
