<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EBS.CostAccounting.My.MySettings.TData30_10_2013ConnectionString" connectionString="Data Source=WIN-38T6R2BW6GD\SQL2008R2;Initial Catalog=TData30-10-2013;Persist Security Info=True;User ID=sa;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.CostAccounting.My.MySettings.TBP24_1_2014ConnectionString" connectionString="Data Source=WIN-38T6R2BW6GD\SQL2008R2;Initial Catalog=TBP24-1-2014;Persist Security Info=True;User ID=sa;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.CostAccounting.My.MySettings.TBHR10_5_2014ConnectionString" connectionString="Data Source=WIN-38T6R2BW6GD\SQL2008R2;Initial Catalog=TBHR10-5-2014;Persist Security Info=True;User ID=sa;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.CostAccounting.My.MySettings.CostV2ConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=CostV2;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
        <add name="EBS.CostAccounting.My.MySettings.CostV3_AmmarConnectionString" connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=CostV3_Ammar;Persist Security Info=True;User ID=ebs;Password=forsan" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
