<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EBS.Shipping.My.MySettings.ShipingSystemConnectionString"
            connectionString="Data Source=WIN-DENE0HB44UK\SQL2008R2;Initial Catalog=ShipingSystem;User ID=ebs;Password=forsan"
            providerName="System.Data.SqlClient" />
        <add name="EBS.Shipping.My.MySettings.Xpro4_5_2024_04_28AboWadiConnectionString"
            connectionString="Data Source=WIN-6O422R6L0L2\SQL2008R2;Initial Catalog=Xpro4.5_2024_05_11AboWadi;User ID=sa;Password=forsan2021"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
